<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('partials/head') %>
  </head>
  <body class="container">

    <header>
        <%- include('partials/headers') %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to CATOYS</h1>
            <p>Purchase toys for your cats !</p>
        </div>
        <div>
          <img src="https://images.unsplash.com/photo-1472157592780-9e5265f17f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIyMjh9&auto=format&fit=crop&w=1350&q=80" alt="" style="width: -moz-available;">
        </div>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

  </body>
</html>
