<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('partials/head') %>
  </head>
  <body class="container">

    <header>
        <%- include('partials/headers') %>
    </header>

    <main>
        <h1><%= login %></h1>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

  </body>
</html>
